*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Build secrets

app/gradle_secret.properties

# Deployment secrets

app/android-deploy-user-dev.json
app/android-deploy-user-prd.json
