*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Build secrets

app/gradle_secret.properties
app/nyan_nyan_engine_android_release.jks

# Deployment secrets

app/android-deploy-user-dev.json
app/android-deploy-user-prd.json

# Bundle secrets

secure-config-master-lib.cpp

# Firebase secrets

app/src/dev/google-services.json
app/src/prd/google-services.json
